.main-container {
    min-height: 100vh;
    background-color: #ffffff;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cash-withdrawal-container {
    background-color: #150b3e;
    border-radius: 8px;
    width: 50%;
    padding: 40px;
}

.profile {
    background-color: #c7d2fe;
    border-radius: 400px;
    padding: 30px 34px;
}

.user-name {
    color:  #d4d2db;
    font-size: 30px;
    margin-left: 20px;
}

.name-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.balance-container {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.your-balance {
    font-size: 28px;
    color: #585076;
}

.amount {
    font-size: 36px;
    color: #c7d2fe;
}

.amount-text {
    font-size: 20px;
    color: #585076;
}

.withdraw-heading {
    font-size: 36px;
    color: #c7d2fe;
}

.choose-sum {
    font-size: 21px;
    color: #585076;
}

.denominations-lsit {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}